# پوشه نود ماژول‌ها
node_modules/

# خروجی کامپایل TypeScript
dist/
build/

# خروجی کامپایل Nuxt
.nuxt/
.output/

# فایل‌های لاگ
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# پوشه کش و فایل‌های موقتی
.vscode/
.idea/
.DS_Store

# فایل‌های environment (اگر داری)
.env
.env.local
.env.*.local

# پوشه پوشه تست‌های coverage (در صورت استفاده)
coverage/

# فایل‌های لاگ Vitest یا Jest
*.log

# پوشه‌های lock فایل‌های بسته‌های مختلف
package-lock.json
yarn.lock
pnpm-lock.yaml
